body {
    font: 14px sans-serif; 
    letter-spacing: 1px;
    background-color: #FDE3E6;
  }
  
  .link {
    fill: none;
    stroke: #a0a0a0;
    stroke-width: 1px;
  }
  
  .win {
    stroke-width: 3px !important;
  }
  
  #container {
    position: relative;
  }
  
  #labels .table {
    position: absolute;
    background-color: #FEEBEE;
   	padding: 5px 7px 3px;
    line-height: 2;
    min-width: 185px;
    box-shadow: 0px 2px 2px 1px rgba(34, 34, 34, 0.1);
    color: #222222;
    border: 0px solid rgba(34, 34, 34, 0.1);
  }
  
  #labels .played {
    --border-width: 0px;
  }
  
  #labels .row  {
    display: table-row;
    }

  #labels .cell {
    padding-left: 10px;
    display: table-cell;
    /* text-transform: uppercase; */
  }
  
  .winner {
    font-weight: bold;
  }
  
  .cell.score {
    border-left: 1px solid rgba(34, 34, 34, 0.1);
  }
  
  .cell.name {
    min-width: 140px;
    padding-right: 10px;
  }